<section class="questions-container">
    <div class="search-wrapper">
        <h2>Search results</h2>
        <div class="search-data">
            <p>Search result for: {{searchQuery}}</p>
            <p>Search tags: {{searchTags}}</p>
        </div>
        <div class="count-filters-wrapper">
            <p><span>151312412</span> results</p>
            <div class="questions-filter">
                <div>Newest</div>
                <div>Most Votes</div>
                <div>Most Answers</div>
                <div>Oldest</div>
            </div>
        </div>
    </div>

    @for (q of questions; track $index) {
        <div class="question-box">
            <div class="question-stats">
                <p class="upvotes">{{q.upvotes}} upvotes</p>
                <p class="answers">✔ {{q.answers}} asnwers</p>
                <p>{{q.views}} views</p>
                <p class="downvotes">{{q.downvotes}} downvotes</p>
            </div>
            <div class="question">
                <a [routerLink]="['/questions', q._id, 'details']" class="question-title">{{ q.title }}</a>
                <p>{{q.description}}</p>
                <div class="question-tags-user">
                    <div class="question-tags tags">
                        @for (tag of q.tags; track $index) {
                            <a href="">{{tag.name}}</a>
                        }
                    </div>
    
                    <div class="question-user">
                        <p><img src={{q.owner_id.image}} alt="">
                            <a [routerLink]="['/profile', q.owner_id._id, 'about']">{{q.owner_id.username}}</a> posted {{ q.createdAt | timeAgo }}</p>
                    </div>
                </div>
            </div>
        </div>
    }

</section>
