<section class="register-section">
    <div class="register-container">
        <h2>Register</h2>
        <p>Create an account to access the features</p>
        <form class="register-form">
            <!-- Username Field -->
            <div class="form-group">
                <label for="username">Username</label>
                <div class="input-and-tick">
                    <input 
                    type="text" 
                    id="username" 
                    placeholder="Enter your Username" 
                    ngModel #usernameInput="ngModel"   
                    [appLengthValidator]="usernameLength" 
                    [app-highlight]="usernameInput.errors"
                    (blur)="triggerValidation(usernameInput.control)">

                    @if (usernameInput.touched) {
                    <div class="green-tick" *ngIf="!usernameInput.errors">✔</div>
                    }
                    />
                </div>
                @if (usernameInput.touched) {
                    <div class="error-msg" *ngIf="usernameInput.errors?.['isRequired']">
                        Title must be longer than 10 characters
                    </div>
                    <!-- <div class="error" *ngIf="usernameInput.errors?.['isInvalid']">
                        Title is not valid!
                    </div> -->
                }
            </div>

            <!-- Email Field -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Enter your email" required />
            </div>

            <!-- Password Field -->
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-and-tick">
                    <input type="password" placeholder="Enter your password" ngModel
                        #passwordInput="ngModel" [appLengthValidator]="emailLength" [app-highlight]="passwordInput.errors"
                        (blur)="triggerValidation(passwordInput.control)">

                    @if (passwordInput.touched) {
                    <div class="green-tick" *ngIf="!passwordInput.errors">✔</div>
                    }
                    />
                </div>
                @if (passwordInput.touched) {
                    <div class="error-msg" *ngIf="passwordInput.errors?.['isRequired']">
                        Title must be longer than 10 characters
                    </div>
                    <!-- <div class="error" *ngIf="passwordInput.errors?.['isInvalid']">
                        Title is not valid!
                    </div> -->
                }
            </div>

            <!-- Confirm Password Field -->
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <div class="input-and-tick">
                    <input type="string" placeholder="Enter your password" ngModel
                        #emailInput="ngModel" [appLengthValidator]="passwordLength" [app-highlight]="emailInput.errors"
                        (blur)="triggerValidation(emailInput.control)">

                    @if (emailInput.touched) {
                    <div class="green-tick" *ngIf="!emailInput.errors">✔</div>
                    }
                    />
                </div>
                @if (emailInput.touched) {
                    <div class="error-msg" *ngIf="emailInput.errors?.['isRequired']">
                        Title must be longer than 10 characters
                    </div>
                    <!-- <div class="error" *ngIf="emailInput.errors?.['isInvalid']">
                        Title is not valid!
                    </div> -->
                }
            </div>

            <!-- Submit Button -->
            <button type="submit" class="register-btn">Register</button>
        </form>

        <!-- Login Link -->
        <div class="register-links">
            <span>Already have an account?</span>
            <a routerLink="/auth/login" class="login-link">Login</a>
        </div>
    </div>
</section>