.questions-container .question-box{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    min-height: 8rem;
    max-height: 10rem;
    width: 50rem;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #676767bd;

}

.question-box .question {
    width: 100%;
}

.question .question-title {
    text-decoration: none;
    color: #6dbbffa6;
    font-size: 18px;
}

.question-tags-user {
    display: flex; /* Make the container a flexbox */
    justify-content: space-between; /* Place items at opposite ends (left and right) */
    align-items: center; /* Align items vertically to the center (optional) */
    width: 100%; /* Full width of the parent container */
    margin-top: 10px;
}

.question-user p {
    display: flex;
    
    align-items: center;
    font-size: 13px;
}

.question-user a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    color: #6dbbffa6;
}

.question-user img {
    border-radius: 5px;
    width: 25px;
    height: 25px;
    
}

.question-tags a{
    padding: 5px 8px;
    margin-right: 4px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #333333d4;
    font-size: 15px;
}

.question-tags a:hover{
    background-color: #676767bd;
}

.answer-stats p {
    font-size: 15px;
}