<div class="profile-stats-about">
    <div class="profile-stats">
        <div class="left-column">
            <div class="stat-box">
                <span>10000</span>
                <p>reputaion</p>
            </div>
            <div class="stat-box">
                <span>800</span>
                <p>answers</p>
            </div>
            <div class="stat-box">
                <span>300</span>
                <p>upvotes</p>
            </div>
        </div>
        <div class="right-column">
            <div class="stat-box">
                <span>10</span>
                <p>edits</p>
            </div>
            <div class="stat-box">
                <span>300</span>
                <p>questions</p>
            </div>
            <div class="stat-box">
                <span>300</span>
                <p>downvotes</p>
            </div>
        </div>
    </div>

    <div class="profile-about">
        <h3>About</h3>
        <p>Im just here to copy the web page so dont hate on my disgusting html css. I mean its not like we had classes for it or anything anyway :D</p>
    </div>
</div>
