<section class="questions-container">
    <h3 class="page-title">Answeres</h3>
    <div class="question-box">
        <div class="question">
            <a href="" class="question-title">How to optimize Angular components for performance?</a>
            <div class="question-tags-user">
                <div class="question-tags">
                    <a href="">js</a>
                    <a href="">node-js</a>
                    <a href="">typescript</a>
                </div>

                <div class="question-user">
                    <p><img src="https://media.licdn.com/dms/image/v2/D4D03AQEScqVCpPoBuw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1701072109871?e=2147483647&v=beta&t=60HfWxJBR8S54x-preXGdNL-czwG_speblpzlyFpl4c" alt=""><a href="">Anton Negentsov</a> modifiled 11 minutes ago</p>
                </div>
            </div>
            <div class="stats-wrapper">
                <div class="answer-stats">
                    <p>6450 votes</p>
                    <p>29 downvotes</p>
                </div>

                <div>
                    <p>score:</p>
                    <div class="score-bar"><div class="score-fill" style="width: 90%;"></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="question-box">
        <div class="question">
            <a href="" class="question-title">How to optimize Angular components for performance?</a>
            <div class="question-tags-user">
                <div class="question-tags">
                    <a href="">js</a>
                    <a href="">node-js</a>
                    <a href="">typescript</a>
                </div>

                <div class="question-user">
                    <p><img src="https://media.licdn.com/dms/image/v2/D4D03AQEScqVCpPoBuw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1701072109871?e=2147483647&v=beta&t=60HfWxJBR8S54x-preXGdNL-czwG_speblpzlyFpl4c" alt=""><a href="">Anton Negentsov</a> modifiled 11 minutes ago</p>
                </div>
            </div>
            <div class="stats-wrapper">
                <div class="answer-stats">
                    <p>6450 votes</p>
                    <p>29 downvotes</p>
                </div>

                <div>
                    <p>score:</p>
                    <div class="score-bar"><div class="score-fill" style="width: 90%;"></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="question-box">
        <div class="question">
            <a href="" class="question-title">How to optimize Angular components for performance?</a>
            <div class="question-tags-user">
                <div class="question-tags">
                    <a href="">js</a>
                    <a href="">node-js</a>
                    <a href="">typescript</a>
                </div>

                <div class="question-user">
                    <p><img src="https://media.licdn.com/dms/image/v2/D4D03AQEScqVCpPoBuw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1701072109871?e=2147483647&v=beta&t=60HfWxJBR8S54x-preXGdNL-czwG_speblpzlyFpl4c" alt=""><a href="">Anton Negentsov</a> modifiled 11 minutes ago</p>
                </div>
            </div>
            <div class="stats-wrapper">
                <div class="answer-stats">
                    <p>6450 votes</p>
                    <p>29 downvotes</p>
                </div>

                <div>
                    <p>score:</p>
                    <div class="score-bar"><div class="score-fill" style="width: 90%;"></div></div>
                </div>
            </div>
        </div>
    </div>
</section>
