<aside>
    <ul class="aside-container">
        <div class="aside-links">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/users">Users</a></li>
            <li><a routerLink="/tags">Tags</a></li>
        </div>
        <div class="aside-links">
            <li><a routerLink="/profile/saves">Saves</a></li>
            <li><a routerLink="/profile/questions">My Questions</a></li>
            <li><a routerLink="/profile/answers">Answered</a></li>
        </div>
    </ul>
</aside>
