/*   Aside Styling   */
aside {
    width: 200px;
}

.aside-container {
    list-style: none;
    width: 100%;
}

.aside-container .aside-links {
    padding-top: 40px;
    width: 100%;
}

.aside-links li {
    width: 100%;
}

.aside-links a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    width: 100%;
    padding-bottom: 5px;
    padding: 12px
}

.aside-links a:hover {
    background-color: #2c2c2c;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}