<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a class="logo" routerLink="/home">DevTalk</a></li>
            <li><a href="#">Browse Questions</a></li>
            <li><a routerLink="/questions/create">Ask a Question</a></li>
        </ul>
        
        <!-- Search Bar -->
        <div class="search-bar">
            <input type="text" class="bar" placeholder="Search for questions...">
            <button class="btn" >Tags</button>
            
            <!-- Dropdown Menu -->

        </div>

        <ul class="nav-links">
            <li><a routerLink="/profile">Profile</a></li>
            <li><a href="#">N</a></li>
            <li><a href="#">H</a></li>
        </ul>

        <!-- <div class="auth">
            <button>Log in</button>
            <button>Sign up</button>
        </div> -->
    </nav>
</header>
