<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a class="logo"routerLink="/home">DevTalk</a></li>
            @if(isLoggedIn) {
                <li><a routerLink="/questions/create">Ask a Question</a></li>
            }
        </ul>
        
        <!-- Search Bar -->
        <div class="search-bar">
            <input 
            type="text" 
            class="bar" 
            placeholder="Search for questions..."
            [(ngModel)]="searchQuery"
            (keydown.enter)="onSearch()"
            >
            <button class="btn" (click)="toggleDropdown()">Tags</button>
            
            <!-- Dropdown Menu -->
            <div class="dropdown-menu" *ngIf="dropdownVisible">
                <!-- Left Side: Tag List -->
                <div class="tags-list">
                    <input
                        type="text"
                        placeholder="Search tags..."
                        (input)="filterTags($event)"
                    />
                    <ul>
                        <li
                            *ngFor="let tag of filteredTags"
                            (click)="selectTag(tag)"
                            [class.selected]="selectedTags.includes(tag)"
                        >
                            {{ tag.name }}
                        </li>
                    </ul>
                </div>
            
                <!-- Right Side: Selected Tags -->
                <div class="selected-tags">
                    <h4>Selected Tags:</h4>
                    <div
                        class="tag"
                        *ngFor="let selectedTag of selectedTags"
                        (click)="removeTag(selectedTag)"
                    >
                        {{ selectedTag.name }} &times;
                    </div>
                </div>
            </div>
            
        </div>

        <ul class="nav-links">
            @if(!isLoggedIn) {
                <li><a routerLink="/auth/login">Log in</a></li>
                <li><a routerLink="/auth/register">Sign up</a></li>
            } @else {
                <li><a [routerLink]="['/profile', userId, 'about']">Profile</a></li>
                <!-- <li><a href="#">N</a></li>
                <li><a href="#">H</a></li> -->
                <li><a (click)="onLogout()">Log Out</a></li>
            }
        </ul>

    </nav>
</header>
