<div class="question-wrapper">
    <!-- Question -->
    <section class="question-container">
        <h1 class="question-title">{{currQuestion?.title}}</h1>
        <p class="question-description">{{currQuestion?.description}}</p>
        <!-- Code in the Question -->
        @if(currQuestion?.code) {
        <pre><code class="language-css">{{currQuestion?.code | escapeHtml}}</code></pre>
        }
        <div class="tags">
            @for (tag of currQuestion?.tags; track $index) {
            <span class="tag">{{tag.name}}</span>
            }
        </div>
        <p class="user-details">Asked by <strong>John Doe</strong> • {{ currQuestion?.createdAt | timeAgo}}</p>
    </section>

    <!-- Answer Input -->
    <section class="answer-form">
        <form #answerForm="ngForm">
            <h2>Your Answer</h2>
            <textarea 
            name="description" 
            placeholder="Type your answer here..."
            ngModel
            #descInput="ngModel"
            appRequiredValidator
            [appLengthValidator]="descriptionLength"
            (blur)="triggerValidation(descInput.control)"
            ></textarea>

            <div class="error-msg-container" *ngIf="descInput.touched">
                <div class="error-msg" *ngIf="descInput.errors?.['isRequired']">
                    Description is required!
                </div>
                <div class="error-msg" *ngIf="descInput.errors?.['isLength']">
                    Description must be between {{descriptionLength.minCount}} and {{descriptionLength.maxCount}} characters long!
                </div>
            </div>
            
            <h3>Code Answer</h3>
            <textarea 
            name="code" 
            class="code-input" 
            placeholder="Type your code answer here..." 
            rows="8"
            ngModel
            #codeInput="ngModel"
            ></textarea>

            <button type="submit" class="submit-btn" (click)="onSubmit()">Post Your Answer</button>
        </form>
    </section>

    <!-- Comments/Answers -->
    <section class="answers-container">
        <h2>{{answers.length || 0}} Answers</h2>

        <!-- Answer 1 -->
        @for(answer of answers; track $index) {
            <div class="answer">
                <div class="votes-section">
                    <span class="vote-count">{{answer.upvotes}}</span>
                    <button class="vote-btn upvote" (click)="onUpvote(answer._id)">↑</button>
                    <button class="vote-btn downvote" (click)="onDownvote(answer._id)">↓</button>
                    <span class="vote-count">{{answer.downvotes}}</span>
                </div>
    
                <div>
                    <p>{{answer.description}}</p>
                    <pre>
                        <code class="language-css">{{ answer.code | escapeHtml }}</code>
                    </pre>
                    <p class="user-details">Answered by <strong>{{answer.owner_id.username}}</strong> • {{answer.createdAt | timeAgo}}</p>
                </div>
            </div>
        }

        <!-- Answer 2 -->

    </section>
</div>