<h3 class="page-title">Users</h3>

<div class="users-search">
    <input type="text" class="bar" placeholder="Search for users...">

</div>

<section class="users-section">
    @for (user of users; track $index) {
        <div class="users-container">
            <div class="user-div">
                <div class="user-img-container">
                    <img src={{user.image}}>
                </div>
                <div class="user-info">
                    <a href="">{{user.username}}</a>
                    <p class="user-country">{{user.location}}</p>
                    <p>{{user.reputation}}</p>
                </div>
            </div>
        </div>
    }
</section>
