<div class="profile-wrapper">
    <div class="profile-view">
        <div class="img-container">
            <img src={{user?.image}}>
        </div>
        <div class="profile-info">
            <h2>{{user?.username}}</h2>
            <div class="profile-activity">
                <p class="member-history">Been a member from {{ user?.createdAt | timeAgo}}</p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="profile-nav">
        <a routerLink="about">Profile</a>
        <a routerLink="questions">Questions</a>
        @if(isOwner) {
            <a routerLink="edit">Edit Profile</a>
        }
    </div>
</div>

<router-outlet />