<div class="profile-wrapper">
    <div class="profile-view">
        <div class="img-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeLVt8bXI4ahYoLuiFfGVWhnjyD_1a7ZvU6w&s" alt="">
        </div>
        <div class="profile-info">
            <h2>Anton Negentsov</h2>
            <div class="profile-activity">
                <p class="member-history">Member for 2 years</p>
                <p class="member-history">Seen 3 days ago</p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="profile-nav">
        <a routerLink="about">Profile</a>
        <a routerLink="questions">Questions</a>
        <a routerLink="answers">Answers</a>
        <a routerLink="saves">Saves</a>
        <a routerLink="edit">Edit Profile</a>
    </div>
</div>

<router-outlet />