<div class="main-welcome">
    <div class="message-container">
        <h1>Welcome, Vasko Tihin.</h1>
        <p>Check for your reputation and interesting topics for you below.</p>
    </div>
</div>

<div class="main-reputation">
    <div class="rep-info">
        <h3>Reputaion</h3>
        <div>
            <div class="number">200</div>
            <img src="/images/graph-image.png" alt="">
        </div>
        <p>Earn reputation by asking, asnwering and editing.</p>
    </div>
</div>

<section class="questions-container">
    <div class="questions-title">
        <h2>Latest Questions</h2>
    </div>

    

    @for (q of questions; track $index) {
        <div class="question-box">
            <div class="question-stats">
                <p class="upvotes">{{q.upvotes}} upvotes</p>
                <p class="answers">✔ {{q.answers}} asnwers</p>
                <p>{{q.views}} views</p>
                <p class="downvotes">{{q.downvotes}} downvotes</p>
            </div>
            <div class="question">
                <a [routerLink]="['/questions', q._id, 'details']" class="question-title">{{ q.title }}</a>
                <p>{{q.description}}</p>
                <div class="question-tags-user">
                    <div class="question-tags tags">
                        @for (tag of q.tags; track $index) {
                            <a href="">{{tag.name}}</a>
                        }
                    </div>
    
                    <div class="question-user">
                        <p>
                            <img src={{q.owner_id.image}}>
                            <a [routerLink]="['/profile', q.owner_id._id, 'about']">{{q.owner_id.username}}</a>
                            {{q.createdAt | timeAgo}}</p>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
