<div class="main-welcome">
    <div class="message-container">
        <h1>Welcome, Vasko Tihin.</h1>
        <p>Check for your reputation and interesting topics for you below.</p>
    </div>
</div>

<div class="main-reputation">
    <div class="rep-info">
        <h3>Reputaion</h3>
        <div>
            <div class="number">200</div>
            <img src="/img/graph-image.png" alt="">
        </div>
        <p>Earn reputation by asking, asnwering and editing.</p>
        <a href="">Learn more</a>
    </div>

    <div class="rep-info">
        <!-- <p>Take a tour and learn how to grow your reputaion.</p> -->
        <a href="">Learn more</a>
    </div>
</div>

<section class="questions-container">
    <div class="questions-title">
        <h2>Interesting Questions for you</h2>
        <p>Based on your selected tags.</p>
    </div>

    <div class="question-box">
        <div class="question-stats">
            <p>1 votes</p>
            <p>0 asnwers</p>
            <p>10 views</p>
        </div>
        <div class="question">
            <a href="" class="question-title">How to optimize Angular components for performance?</a>
            <p>I dont undestand why do black poeple steal so much</p>
            <div class="question-tags-user">
                <div class="question-tags tags">
                    <a href="">js</a>
                    <a href="">node-js</a>
                    <a href="">typescript</a>
                </div>

                <div class="question-user">
                    <p><img src="https://media.licdn.com/dms/image/v2/D4D03AQEScqVCpPoBuw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1701072109871?e=2147483647&v=beta&t=60HfWxJBR8S54x-preXGdNL-czwG_speblpzlyFpl4c" alt=""><a href="">Anton Negentsov</a> modifiled 11 minutes ago</p>
                </div>
            </div>
        </div>
    </div>

    <div class="question-box">
        <div class="question-stats">
            <p>1 votes</p>
            <p>0 asnwers</p>
            <p>10 views</p>
        </div>
        <div class="question">
            <a href="" class="question-title">How to optimize Angular components for performance?</a>
            <p>I dont undestand why do black poeple steal so much</p>
            <div class="question-tags-user">
                <div class="question-tags tags">
                    <a href="">js</a>
                    <a href="">node-js</a>
                    <a href="">typescript</a>
                </div>

                <div class="question-user">
                    <p><img src="https://media.licdn.com/dms/image/v2/D4D03AQEScqVCpPoBuw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1701072109871?e=2147483647&v=beta&t=60HfWxJBR8S54x-preXGdNL-czwG_speblpzlyFpl4c" alt=""><a href="">Anton Negentsov</a> modifiled 11 minutes ago</p>
                </div>
            </div>
        </div>
    </div>

    <div class="question-box">
        <div class="question-stats">
            <p>1 votes</p>
            <p>0 asnwers</p>
            <p>10 views</p>
        </div>
        <div class="question">
            <a href="" class="question-title">How to optimize Angular components for performance?</a>
            <p>I dont undestand why do black poeple steal so much</p>
            <div class="question-tags-user">
                <div class="question-tags tags">
                    <a href="">js</a>
                    <a href="">node-js</a>
                    <a href="">typescript</a>
                </div>

                <div class="question-user">
                    <p><img src="https://media.licdn.com/dms/image/v2/D4D03AQEScqVCpPoBuw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1701072109871?e=2147483647&v=beta&t=60HfWxJBR8S54x-preXGdNL-czwG_speblpzlyFpl4c" alt=""><a href="">Anton Negentsov</a> modifiled 11 minutes ago</p>
                </div>
            </div>
        </div>
    </div>
</section>
